.at0{fill:#E1FF73;}
	.at1{fill:#01A200;}
	.at2{fill:#730051;}
	.at3{fill:#000445;}
	.at4{fill:#5C3900;}
	.at5{fill:#000BA2;}
	.at6{fill:#FFEB17;}
	.at7{fill:#000445;stroke:#000000;stroke-miterlimit:10;}
	.at8{fill:#9100A2;stroke:#000000;stroke-miterlimit:10;}
	.at9{fill:#32FF00;}
	.at10{fill:#FF8117;}
	.at11{fill:#006F73;}
