.ct0{fill:#A20022;stroke:#000000;stroke-miterlimit:10;}
.ct1{fill:#FFFFFF;stroke:#000000;stroke-miterlimit:10;}
.ct2{fill:#00A21D;stroke:#000000;stroke-miterlimit:10;}
.ct3{fill:#020017;stroke:#000000;stroke-miterlimit:10;}
.ct4{fill:#005C09;stroke:#000000;stroke-miterlimit:10;}
.ct5{fill:#45FF75;stroke:#000000;stroke-miterlimit:10;}
.ct6{fill:#1D7300;}
.ct7{fill:#45D000;}
.ct8{fill:#006273;stroke:#000000;stroke-miterlimit:10;}
.ct9{fill:#97B900;stroke:#000000;stroke-miterlimit:10;}
.ct10{fill:#00734C;stroke:#000000;stroke-miterlimit:10;}
.ct11{fill:#004503;stroke:#000000;stroke-miterlimit:10;}
.ct12{fill:#718B00;stroke:#000000;stroke-miterlimit:10;}
.ct13{fill:#1798FF;stroke:#000000;stroke-miterlimit:10;}