.ht0{fill:#01002E;}
	.ht1{fill:#5C0018;}
	.ht2{fill:#8B001A;}
	.ht3{fill:#0F005C;}
	.ht4{fill:#4B17FF;}
	.ht5{fill:#D0000B;}
	.ht6{fill:#91A200;}
	.ht7{fill:#91A200;stroke:#000000;stroke-miterlimit:10;}