.dt0{fill:#00A285;stroke:#000000;stroke-miterlimit:10;}
.dt1{fill:#450027;stroke:#000000;stroke-miterlimit:10;}
.dt2{fill:#5CFCFF;stroke:#000000;stroke-miterlimit:10;}
.dt3{fill:#E73100;stroke:#000000;stroke-miterlimit:10;}
.dt4{fill:#B000B9;stroke:#000000;stroke-miterlimit:10;}
.dt5{fill:#00208B;stroke:#000000;stroke-miterlimit:10;}
.dt6{fill:#DEFF2E;stroke:#000000;stroke-miterlimit:10;}
.dt7{fill:#00A23B;stroke:#000000;stroke-miterlimit:10;}
.dt8{fill:#D09100;stroke:#000000;stroke-miterlimit:10;}