.it0{fill:#00005C;stroke:#000000;stroke-miterlimit:10;}
	.it1{fill:#FFFFFF;stroke:#000000;stroke-miterlimit:10;}
	.it2{fill:#3900FF;stroke:#000000;stroke-miterlimit:10;}
	.it3{fill:#005AA2;}
	.it4{fill:#04008B;}
	.it5{fill:#00A6D0;}
	.it6{fill:#002AA2;stroke:#000000;stroke-miterlimit:10;}
	.it7{fill:#0F005C;stroke:#000000;stroke-miterlimit:10;}