@import url('https://fonts.googleapis.com/css?family=Finger+Paint&display=swap');
@import url('https://fonts.googleapis.com/css?family=Butcherman&display=swap');
@import url('https://fonts.googleapis.com/css?family=Bangers&display=swap');



.loginSVG .st0{fill:none;stroke:#000000;stroke-miterlimit:10;}
.loginSVG	.st1{fill:#006EE7;stroke:#000000;stroke-miterlimit:10;}
.loginSVG	.st2{fill:#0062B9;stroke:#000000;stroke-miterlimit:10;}
.loginSVG	.st3{fill:#459DFF;stroke:#000000;stroke-miterlimit:10;}
.loginSVG	.st4{fill:#00CBFF;stroke:#000000;stroke-miterlimit:10;}
.loginSVG	.st5{fill:#FFFFFF;stroke:#000000;stroke-miterlimit:10;}
.loginSVG	.st6{fill:#0080E7;stroke:#000000;stroke-miterlimit:10;}
.loginSVG	.st7{fill:#00E7E4;stroke:#000000;stroke-miterlimit:10;}
.loginSVG.st8{fill:#17EFFF;stroke:#000000;stroke-miterlimit:10;}
.loginSVG	.st9{fill:#0055A2;stroke:#000000;stroke-miterlimit:10;}
.loginSVG	.st10{fill:#2EFFF6;stroke:#000000;stroke-miterlimit:10;}



body{
    font-family: 'Finger Paint', cursive;
    font-family: 'Butcherman', cursive;
    font-size: 20px;
    text-align: center;
    color:maroon;
    letter-spacing: 6px;

  
}

