.rt0{fill:#FFFFFF;stroke:#000000;stroke-miterlimit:10;}
.rt1{fill:#180045;stroke:#000000;stroke-miterlimit:10;}
.rt2{fill:#5C002F;stroke:#000000;stroke-miterlimit:10;}
.rt3{fill:#FFFFFF;}
.rt4{fill:#1D2E00;}
.rt5{fill:#1C0045;stroke:#000000;stroke-miterlimit:10;}
.rt6{fill:#130045;stroke:#000000;stroke-miterlimit:10;}
.rt7{fill:none;stroke:#000000;stroke-miterlimit:10;}
